.App {
  text-align: center;
  max-width: 900px;
  margin: 0 auto;
}

.gameTable{
  display: flex;
  align-items: center;
  margin: 0 -10px;
  flex-wrap: wrap;
}
.gameTable__card{
  width: calc(100% / 4 - 20px);
  min-height: 100px;
  border: 1px solid;
}
.gameTable__card p{
  margin: 0;
}